@import '../../colors.scss';


.exercises_cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.exercises_card{
    background-color: $bgLight;
    //background: linear-gradient(-132deg, rgba($color: $green, $alpha: 1) 0%, rgba($color: $green, $alpha: 0.3) 100%);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    .exercises_card_text{
        display: flex;
        flex-direction: column;
        gap: 15px;
        p:first-child{
            color: $green;
            font-size: 30px;
            font-weight: bold;
        }
        p:last-child{
            color: #fff;
            background-color: $bgDark;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 20px;
        }
    }

    .exercise_card_img{
        width: 90px;
    }
}
