@import '../../colors.scss';

.profile_chetchik{
    display: flex;
    gap: 10px;
}
.profile_xz{
    background-color: $bgLight;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    border-radius: 15px;

    p:first-child{
        color: $green;
        font-weight: bold;
        font-size: 20px;
    }
    p:last-child{
        color: #fff;
        font-size: 14px;
    }
}