.NotFound{
    height:100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p:first-child{
        color: #32c186;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
    p:last-child{
        color: #fff;
        font-size: 20px;
        font-weight:400;
        border-bottom: 1px solid #fff;
    }
}